@import _mixins

footer
  padding: 35px 65px
  background: #eeeeed
  .copyright
    width: 30%
    font-size: 14px
    line-height: 1em
    text-transform: uppercase
    vertical-align: middle

  .menu
    width: 70%
    text-align: right
    li
      display: inline-block
      vertical-align: middle
      margin: 0 15px
      &:last-child
        margin-right: 0
      a
        font-size: 14px
        line-height: 14px
        text-transform: uppercase
        text-decoration: none
        color: $base-font-color

.home, .visa, .work_abroad_services
  footer
    background: none


.vacancies
  footer
    padding: 25px 65px
    background: none
    border-top: 1px solid #f3f3f3


