@import _mixins
.list_news
  width:  ( 100% / 3 ) * 2
  margin-bottom: 50px
.wrap_list_news

  padding: 0 0 90px 65px
  h3
    color: $main-color
    text-transform: uppercase
    line-height: 1em
    margin-bottom: 35px
    font-size: 18px
    font-weight: normal
    font-family: "RobotoCondensed-Bold", sans-serif
  .pagination
    text-align: center
    a
      display: inline-block
      width: 230px
      height: 45px
      line-height: 43px

  .item
    margin-bottom: 30px
    &:last-child
      margin-bottom: 50px
    .img-holder
      width: 100px
      margin-right: 20px
      a
        width: 100%
        img
          width: 100%

    .overflow-text
      width: calc(100% - 120px)
      vertical-align: middle
      h4
        margin-bottom: 15px
        a
          font-size: 20px
          line-height: 1em
          font-weight: normal
          color: #000
          transition: all 0.35s
          &:hover
            transition: all 0.35s
            color: $main-color-hover

      .data
        color: #868585
        font-size: 12px
        line-height: 1em
        margin-bottom: 15px
        font-family: 'RobotoCondensed-Light', sans-serif

      .description
        font-size: 14px
        color: #000
        margin-bottom: 15px

      .readmore
        color: $main-color-hover
        text-transform: uppercase
        text-decoration: none
        transition: all 0.35s
        font-size: 14px
        &:hover
          transition: all 0.35s
          text-decoration: underline