@import _mixins

//----------------------------------
// Default navbar
//----------------------------------
header
	//margin-bottom: 40px
	.menu
		padding: 0 65px
		background: $main-color
		>ul
			//display: table
			//width: 100%
			display: flex
    		flex-direction: row
			justify-content: space-between
			.submenu
				box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08)
				display: none
				position: absolute
				top: 50px
				left: 0
				background: #fff
				z-index: 10
				padding: 20px 0
				border-bottom: 3px solid $main-color
				border-left: 1px solid $main-color
				border-right: 1px solid $main-color
				transition: all 0.35s
				a
					color: #000
					text-decoration: none
					white-space: nowrap
					padding: 10px 15px
					display: block
					text-transform: uppercase
					transition: all 0.35s
					line-height: 1em
					font-size: 14px
					&:hover
						transition: all 0.35s
						color: #fff
						background: $main-color
				> li
					&:hover, &.hover
						a
							color: #fff
							background: $main-color
							transition: all 0.35s

			>li
				//display: table-cell
				padding: 14px 15px
				background: $main-color
				position: relative
				&:hover
					> a
						transition: all 0.35s
						border-color: #fff
					.submenu
						display: block
						transition: all 0.35s



				&.active
					a
						border-color: #fff


				>a
					color: #fff
					line-height: 1em
					text-transform: uppercase
					text-decoration: none
					padding-bottom: 6px
					border-bottom: 2px solid rgba(255, 255, 255, 0)
					transition: all 0.35s


	.top
		padding: 20px 0
		.logo
			margin-right: 45px
		.list_header
			padding: 0 15px 0 60px
			border-right:  1px solid #dfebf4
			vertical-align: middle
			height: 70px

		.skype
			border: 0

		.city
			padding-left: 50px
			background: url("../img/icons/pointer-icon.png") no-repeat 15px center
			background-size: 20px auto
			.title
				font-size: 14px
				line-height: 1em
				font-family: 'RobotoCondensed-Light', sans-serif
				margin-top: 20px
			.list_city
				.select
					color: $main-color-hover
					text-transform: uppercase
					font-size: 18px
					line-height: 1em

				ul
					display: none

		.phone
			background: url("../img/icons/phone-icon.png") no-repeat 15px center
			background-size: 30px auto
			.list_phone
				padding-right: 20px
				margin-top: 20px
				position: relative
				&:after
					content: ''
					position: absolute
					width: 0
					height: 0
					border-top: 6px solid $main-color-hover
					border-left: 4px solid transparent
					border-right: 4px solid transparent
					right: 0
					margin-top: -3px
					top: 50%
			.select
				a
					color: $main-color-hover
					font-size: 24px
					line-height: 1em
					text-decoration: none
			ul
				display: none


		.email, .skype


			a
				color: $main-color-hover
				font-size: 18px
				line-height: 1em
				text-transform: uppercase
				text-decoration: none
				margin-top: 25px
				display: block
		.email
			background: url("../img/icons/mail-icon.png") no-repeat 15px center
			background-size: 30px auto
		.skype
			background: url("../img/icons/skype-icon.png") no-repeat 15px center
			background-size: 30px auto

		.lang
			margin-left: 15px
			ul
				display: none



main

	.menu
		padding: 0 65px 100px
		>ul
			li
				display: block
				margin-bottom: 20px
				> ul
					margin-top: 20px
					margin-left: 20px
				a
					color: $base-font-color
					font-size: 14px
					transition: all 0.35s
					text-decoration: none

					&:hover
						color: $main-color-hover
						transition: all 0.35s
