.main-tabs.inline-layout
    .item(style="background: url(../img/content/poland-img.jpg) no-repeat center; background-size: cover;")
        div
            div
                .name Польша
                a.readmore.white_button(href="#" ) Вакансии
    .item(style="background: url(../img/content/czech-img.jpg) no-repeat center; background-size: cover;")
        div
            div
                .name Чехия
                a.readmore.white_button(href="#" ) Вакансии
    .item(style="background: url(../img/content/estonia-img.jpg) no-repeat center; background-size: cover;")
        div
            div
                .name Эстония
                a.readmore.white_button(href="#" ) Вакансии