.block_contact

    h3 Обратная связь
    .overflow-text
        p Отзывы и предложения:&nbsp;
            a(href="mailto:feedback@blagovist.ua") feedback@blagovist.ua
        p Коммерческие предложения:&nbsp;
            a(href="mailto:reklama@blagovist.ua") reklama@blagovist.ua
        p Пресс-служба:&nbsp;
            a(href="mailto:press@blagovist.ua") press@blagovist.ua
        p Редактор сайта:&nbsp;
            a(href="mailto:webeditor@blagovist.ua") webeditor@blagovist.ua

        address
            span Адрес:&nbsp;
            | вул. Смілянська, буд. 23, оф. 45 (4 поверх)
        p Телефон:
            br
            a.phone(href="tel:+38 (0472) 38-32-98") +38 (0472) 38-32-98
            | &nbsp;&nbsp;
            a.phone(href="tel:+38 (067) 536-73-73") +38 (067) 536-73-73
    a.link_contact(href="#") Посмотреть все контакты