mixin businessServices (name, urlDownload, urlPresentation, img, description)
    .item.inline-layout
        .image-holder
            img.fake-img(src= img alt= title)
            .img(style="background: url(" + img + ") no-repeat;background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;")
        .overflow-text
            h3= name
            .description= description
            a.download(href= urlDownload target="_blank") Download
            a.presentation(href= urlPresentation target="_blank") Загрузите презентацию услуг
.business_services_text
    +businessServices(
    'Услуга один',
    '#',
    '#',
    'img/content/retraining.jpg',
    'Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа дальнейших направлений развития. Товарищи! начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. С другой стороны постоянный количественный рост и сфера.'
    )
    +businessServices(
    'Услуга один',
    '#',
    '#',
    'img/content/retraining.jpg',
    'Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа дальнейших направлений развития. Товарищи! начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. С другой стороны постоянный количественный рост и сфера.'
    )

    +businessServices(
    'Услуга один',
    '#',
    '#',
    'img/content/retraining.jpg',
    'Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа дальнейших направлений развития. Товарищи! начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. С другой стороны постоянный количественный рост и сфера.'
    )

    +businessServices(
    'Услуга один',
    '#',
    '#',
    'img/content/retraining.jpg',
    'Разнообразный и богатый опыт укрепление и развитие структуры требуют от нас анализа дальнейших направлений развития. Товарищи! начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. С другой стороны постоянный количественный рост и сфера.'
    )
