mixin listNews (name, data, description, url, img)
    .item
        .img-holder
            a(href= url)
                img(src="img/content/services1.jpg" alt= name)
        .overflow-text
            h4
                a(href= url)= name
            .data= data
            .description= description
            a.readmore(href= url ) Подробнее >

.contact_map.inline-layout.col-3

    .item
        .map#map1
        .overflow-text
            p г. Киев
            address
                span Адрес:&nbsp;
                | вул. Смілянська, буд. 23, оф. 45 (4 поверх)

            p Отзывы и предложения:&nbsp;
                a(href="mailto:feedback@blagovist.ua") feedback@blagovist.ua
            p Коммерческие предложения:&nbsp;
                a(href="mailto:reklama@blagovist.ua") reklama@blagovist.ua
            p Пресс-служба:&nbsp;
                a(href="mailto:press@blagovist.ua") press@blagovist.ua
            p Редактор сайта:&nbsp;
                a(href="mailto:webeditor@blagovist.ua") webeditor@blagovist.ua

            p Телефон:
                br
                a.phone(href="tel:+38 (0472) 38-32-98") +38 (0472) 38-32-98
                | &nbsp;&nbsp;
                a.phone(href="tel:+38 (067) 536-73-73") +38 (067) 536-73-73



    .item
        .map#map2
        .overflow-text
            p г. Черкассы
            address
                span Адрес:&nbsp;
                | вул. Смілянська, буд. 23, оф. 45 (4 поверх)

            p Отзывы и предложения:&nbsp;
                a(href="mailto:feedback@blagovist.ua") feedback@blagovist.ua
            p Коммерческие предложения:&nbsp;
                a(href="mailto:reklama@blagovist.ua") reklama@blagovist.ua
            p Пресс-служба:&nbsp;
                a(href="mailto:press@blagovist.ua") press@blagovist.ua
            p Редактор сайта:&nbsp;
                a(href="mailto:webeditor@blagovist.ua") webeditor@blagovist.ua

            p Телефон:
                br
                a.phone(href="tel:+38 (0472) 38-32-98") +38 (0472) 38-32-98
                | &nbsp;&nbsp;
                a.phone(href="tel:+38 (067) 536-73-73") +38 (067) 536-73-73



    .item
        .map#map3
        .overflow-text
            p г. Черновцы
            address
                span Адрес:&nbsp;
                | вул. Смілянська, буд. 23, оф. 45 (4 поверх)

            p Отзывы и предложения:&nbsp;
                a(href="mailto:feedback@blagovist.ua") feedback@blagovist.ua
            p Коммерческие предложения:&nbsp;
                a(href="mailto:reklama@blagovist.ua") reklama@blagovist.ua
            p Пресс-служба:&nbsp;
                a(href="mailto:press@blagovist.ua") press@blagovist.ua
            p Редактор сайта:&nbsp;
                a(href="mailto:webeditor@blagovist.ua") webeditor@blagovist.ua

            p Телефон:
                br
                a.phone(href="tel:+38 (0472) 38-32-98") +38 (0472) 38-32-98
                | &nbsp;&nbsp;
                a.phone(href="tel:+38 (067) 536-73-73") +38 (067) 536-73-73