// footer
footer.inline-layout

    .copyright © 2013-2016 ТОВ "Євроцентр - Україна"
    nav.menu
        ul
            li
                a(href="#") Карта сайта
            li
                a(href="rabota_za_rybegem.html") Работа за рубежем
            li
                a(href="vizovie_yslygi.html") Визовые услуги
            li
                a(href="business_services.html") Услуги для бизнеса
            li
                a(href="#") Контакты
