// footer
.footer.inline-layout

    .copyright © 2013-2016 ТОВ "Євроцентр - Україна"
    nav.menu
        ul
            li
                a(href="#") Карта сайта
            li
                a(href="#") Работа за рубежем
            li
                a(href="#") Визовые услуги
            li
                a(href="#") Услуги для бизнеса
            li
                a(href="#") Контакты
