.last_news
    h3 Последние новости
    mixin lastNew (name, description)
        li
            a(href="#")= name
            span= description
    ul
        +lastNew(
            'Как быстро продать земельный участок?',
            'Новости компании /  31.08.2016'
        )
        +lastNew(
            'Как быстро продать земельный участок?',
            'Новости компании /  31.08.2016'
        )
        +lastNew(
            'Как быстро продать земельный участок?',
            'Новости компании /  31.08.2016'
        )
        +lastNew(
            'Как быстро продать земельный участок?',
            'Новости компании /  31.08.2016'
        )
        +lastNew(
            'Как быстро продать земельный участок?',
            'Новости компании /  31.08.2016'
        )
    a.all_news.black_button(href="news.html") Все новости