.last_news
    h3 Последние новости
    ul
        li
            a(href="#") Как быстро продать земельный участок?
            span Новости компании /  31.08.2016
        li
            a(href="#") Как быстро продать земельный участок?
            span Новости компании /  31.08.2016
        li
            a(href="#") Как быстро продать земельный участок?
            span Новости компании /  31.08.2016
        li
            a(href="#") Как быстро продать земельный участок?
            span Новости компании /  31.08.2016
        li
            a(href="#") Как быстро продать земельный участок?
            span Новости компании /  31.08.2016
        li
            a(href="#") Как быстро продать земельный участок?
            span Новости компании /  31.08.2016
    a.all_news.black_button(href="#") Все новости