

mixin abroadServices (name, data, description, url, img)
    .item.inline-layout
        .img-holder
            a(href= url)
                img(src="img/content/services1.jpg" alt= name)
        .overflow-text
            h4
                a(href= url)= name
            .data= data
            .description= description
            a.readmore(href= url ) Подробнее >

.list_news

    .wrap_list_news
        h3 Новости компании
        +abroadServices(
        'Как быстро продать земельный участок?',
        'Новости компании /  31.08.2016',
        'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений...',
        'news-article.html'
        )
        +abroadServices(
        'Как быстро продать земельный участок?',
        'Новости компании /  31.08.2016',
        'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений...',
        'news-article.html'
        )
        +abroadServices(
        'Как быстро продать земельный участок?',
        'Новости компании /  31.08.2016',
        'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений...',
        'news-article.html'
        )
        +abroadServices(
        'Как быстро продать земельный участок?',
        'Новости компании /  31.08.2016',
        'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений...',
        'news-article.html'
        )
        +abroadServices(
        'Как быстро продать земельный участок?',
        'Новости компании /  31.08.2016',
        'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений...',
        'news-article.html'
        )
        +abroadServices(
        'Как быстро продать земельный участок?',
        'Новости компании /  31.08.2016',
        'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений...',
        'news-article.html'
        )
        +abroadServices(
        'Как быстро продать земельный участок?',
        'Новости компании /  31.08.2016',
        'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений...',
        'news-article.html'
        )
        +abroadServices(
        'Как быстро продать земельный участок?',
        'Новости компании /  31.08.2016',
        'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений...',
        'news-article.html'
        )
        +abroadServices(
        'Как быстро продать земельный участок?',
        'Новости компании /  31.08.2016',
        'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений...',
        'news-article.html'
        )
        +abroadServices(
        'Как быстро продать земельный участок?',
        'Новости компании /  31.08.2016',
        'Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений...',
        'news-article.html'
        )

        .pagination
            a.black_button(href="#") Показать еще 10 вакансий