#overlay

#city.modal_div

    .modal_close
    .modal-content
        h3 Оберіть потрібний вам офіс
        .city.list_header


            .list_city
                .select Черкассы
                    span.select_toggle
                ul
                    li.active(data-value='Черкассы')
                        a(href="#") Черкассы
                    li(data-value='Киев')
                        a(href="#") Киев
                    li(data-value='Умань')
                        a(href="#") Умань


#job.modal_div

    .modal_close
    .modal-content
        .vacancies_form
            form(data-request-validate)
                .element-form
                    input(type="text" placeholder="Имя" name="name" data-validate="name")
                .element-form
                    input(type="text" placeholder="Телефон" name="phone" data-validate="phone")
                .submit.black_button Отправить