//- .preloader
	//- .after

header
	nav.menu
		ul
			li
				a(href="#") О нас
			li
				a(href="#") Услуги
			li
				a(href="#") Пресс-центр
			li
				a(href="#") Сотрудничество
			li
				a(href="#") Контакты
