//- .preloader
	//- .after

header
	nav.menu
		ul
			li
				a(href="about.html") О нас
			li
				a(href="#") Услуги
			li
				a(href="#") Пресс-центр
			li
				a(href="collaboration.html") Сотрудничество
			li
				a(href="#") Контакты
