
.block_servives
    .item(style="background: url(../img/content/services1.jpg) no-repeat center; background-size: cover;")
        div
            div
                .text Работа за рубежем
                a.readmore.white_button(href="#") Подробнее
    .item(style="background: url(../img/content/services3.jpg) no-repeat center; background-size: cover;")
        div
            div
                .text Услуги для бизнеса
                a.readmore.white_button(href="#") Подробнее
    .item(style="background: url(../img/content/collaboration.jpg) no-repeat center; background-size: cover;")
        div
            div
                .text Переквалификация
                a.readmore.white_button(href="#") Подробнее