
.block_servives


    .item(style="background: url(../img/content/retraining.jpg) no-repeat center; background-size: cover;")
        div
            div
                .text Переквалификация
                a.readmore.white_button(href="#") Подробнее