
.block_servives
    .item(style="background: url(../img/content/services1.jpg) no-repeat center; background-size: cover;")
        div
            div
                .text Работа за рубежем
                a.readmore.white_button(href="rabota_za_rybegem.html") Подробнее

    .item(style="background: url(../img/content/services3.jpg) no-repeat center; background-size: cover;")
        div
            div
                .text Услуги для бизнеса
                a.readmore.white_button(href="business_services.html") Подробнее