h3 Полезная информация
.block_servives
    .item(style="background: url(../img/content/services1.jpg) no-repeat center; background-size: cover;")
        div
            div
                .text Работа за рубежем
                a.readmore(href="#") Подробнее
    .item(style="background: url(../img/content/services2.jpg) no-repeat center; background-size: cover;")
        div
            div
                .text Визовые услуги
                a.readmore(href="#") Подробнее
    .item(style="background: url(../img/content/services3.jpg) no-repeat center; background-size: cover;")
        div
            div
                .text Услуги для бизнеса
                a.readmore(href="#") Подробнее