
.block_servives

    .item(style="background: url(../img/content/services2.jpg) no-repeat center; background-size: cover;")
        div
            div
                .text Визовые услуги
                a.readmore(href="#") Подробнее
    .item(style="background: url(../img/content/collaboration.jpg) no-repeat center; background-size: cover;")
        div
            div
                .text Переквалификация
                a.readmore(href="#") Подробнее