.slider_home
    .owl-carousel
        .item(style="background: url(../img/content/slider.jpg) no-repeat center; background-size: cover;")
            div
                div
                    .text ШЕНГЕНСКИЕ ВИЗЫ, ПОМОЩЬ В ОФОРМЛЕНИИ: БЫСТРО, НАДЕЖНО!
        .item(style="background: url(../img/content/slider.jpg) no-repeat center; background-size: cover;")
            div
                div
                    .text ШЕНГЕНСКИЕ ВИЗЫ, ПОМОЩЬ В ОФОРМЛЕНИИ: БЫСТРО, НАДЕЖНО!
        .item(style="background: url(../img/content/slider.jpg) no-repeat center; background-size: cover;")
            div
                div
                    .text ШЕНГЕНСКИЕ ВИЗЫ, ПОМОЩЬ В ОФОРМЛЕНИИ: БЫСТРО, НАДЕЖНО!