.vacancies_text
    .overflow-text
        .img-holder
            img(src="img/content/vacancies-logo.jpg" alt="Eobuwie")
        .info_company
            h3 Рабочие на склад интерет магазина Eobuwie
            .data Вакансия от 06.09.2016

            p Компания: Eobuwie
            p Город: Варшава
            p Вид занятости: полная занятость
            .price зп 18000 грн
            a.get_job.white_button.open_modal(href="#job") Получить работу

        .block_description
            p Обязанности:
            ul
                li Поиск и отбор персонала в супермаркет;
                li Ведение кадрового делопроизводства;
                li Адаптация новых сотрудников;
                li Организация мотивационных мероприятий.
            p Требования:
            ul
                li Высшее образование;
                li ПК пользователь (MS Office, Internet, электронная почта);
                li Владение современными методиками подбора и оценки персонала;
                li Знание КЗоТ Украины является преимуществом;
                li Коммуникабельность, активная жизненная позиция, целеустремленность!
            p Мы предлагаем:
            ul
                li Достойную и стабильную оплату труда;
                li Официальное трудоустройство;
                li Возможность карьерного роста;
                li Дружный коллектив сотрудников.
            h2 title h2
            h3 title h3
            h4 title h4
            h5 title h5
            h6 title h6
    include ./vacancies_form.jade