.vacancies_form
    form.form-group(action="#" name="vacancies")
        h3 Обратная связь
        .row-group.inline-layout
            .element-form
                input(type="text" placeholder="Имя" name="name" data-validate="name")
            .element-form
                input(type="text" placeholder="Телефон" name="phone" data-validate="phone")
        .element-form
            textarea(placeholder="Телефон" name="comment" data-validate="empty")
        .submit.black_button Отправить