mixin tabLink (name, url, img)
    li
        a(href= url data-toggle="tab")= name


.visa_services_text
    .main-tabs.inline-layout
        .item(style="background: url(../img/content/poland-img.jpg) no-repeat center; background-size: cover;")
            div
                div
                    .name Польша
                    a.readmore(href="visa.html" )
        .item(style="background: url(../img/content/czech-img.jpg) no-repeat center; background-size: cover;")
            div
                div
                    .name Чехия
                    a.readmore(href="visa.html" )
        .item(style="background: url(../img/content/estonia-img.jpg) no-repeat center; background-size: cover;")
            div
                div
                    .name Эстония
                    a.readmore(href="visa.html" )

    .list-menu

        h3 Страны
        ul.nav.inline-layout.col-4
            +tabLink(
            'Австрия',
            'visa.html'
            )
            +tabLink(
            'Дания',
            'visa.html'
            )
            +tabLink(
            'Мальта',
            'visa.html'
            )
            +tabLink(
            'Швейцария',
            'visa.html'
            )
            +tabLink(
            'Австрия',
            'visa.html'
            )
            +tabLink(
            'Дания',
            'visa.html'
            )
            +tabLink(
            'Мальта',
            'visa.html'
            )
            +tabLink(
            'Швейцария',
            'visa.html'
            )
            +tabLink(
            'Австрия',
            'visa.html'
            )
            +tabLink(
            'Дания',
            'visa.html'
            )
            +tabLink(
            'Мальта',
            'visa.html'
            )
            +tabLink(
            'Швейцария',
            'visa.html'
            )
            +tabLink(
            'Австрия',
            'visa.html'
            )
            +tabLink(
            'Дания',
            'visa.html'
            )
            +tabLink(
            'Мальта',
            'visa.html'
            )
            +tabLink(
            'Швейцария',
            'visa.html'
            )
            +tabLink(
            'Австрия',
            'visa.html'
            )
            +tabLink(
            'Дания',
            'visa.html'
            )
            +tabLink(
            'Мальта',
            'visa.html'
            )
            +tabLink(
            'Швейцария',
            'visa.html'
            )
            +tabLink(
            'Австрия',
            'visa.html'
            )
            +tabLink(
            'Дания',
            'visa.html'
            )
            +tabLink(
            'Мальта',
            'visa.html'
            )
            +tabLink(
            'Швейцария',
            'visa.html'
            )

    .visa-content
            h2 Шенгенская виза для граждан Украины: что важно знать?
            p 333Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            p It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


