.visa_text
    .overflow-text
            h2 Визовый центр "Евроцентр" быстро, надежно и качественно окажет помощь в оформлении виз во все страны шенгенского соглашения!
            p Каждый знает, чтобы совершить поездку за границу необходимо оформить визу. Визы отличаются друг от друга в зависимости от сроков и целей поездки.
            p Если вы собрались в Европу, шенгенская виза – это документ, без которого вам не обойтись. Именно она является тем документом, который разрешает вам пересекать границы и официально въезжать в европейские страны, требующие визового режима. Ее необходимо заказать со всеми правилами оформления.
            p Наши профессионалы с радостью возьмут все хлопоты оформления визы на себя. Цена визы шенген будет зависеть от типа, длительности визы и страны, в которую открывается виза. Чем ближе страна выдачи визы, тем она дешевле, так же чем больше срок визы, тем она будет дешевле.

            h3 СТОИМОСТЬ И СРОКИ ОФОРМЛЕНИЯ ВИЗЫ В Польшу
            table
                tr
                    th Тип визы
                    th Срок оформления
                    th Стоимость
                tr
                    td Однократная 15/30
                    td 4 дня
                    td 270 €

                tr
                    td Мультивиза 180/90
                    td 12 дня
                    td 310 €
                tr
                    td Годовая 360/180
                    td 20 дня
                    td 380 €

            h3 ПАКЕТ ДОКУМЕНТОВ ДЛЯ ВИЗЫ:

            ol
                li Загранпаспорт (оригинал) действительный в течение 6 месяцев с момента выезда из страны;
                li При наличии второго действующего загранпаспорта – копия паспорта со всеми визами, если были;
                li Гражданский паспорт (оригинал);
                li Копия идентификационного кода;
                li 2 фото (3,5 х 4,5, 80% лица, БЕЛЫЙ фон);
                li Страховка на нужный срок (сумма страхования 30 тыс евро) либо заказать у нас.
