doctype html
html(lang="ru")
    include ./partials/head.jade


    body
        .container.error404
            .content
                .logo
                    a(href="index.html")
                        img(src="img/icons/logo.png" alt="404 error")
                .error404_text 404
                .error_text Страница не найдена
                a.submit.black_button(href="index.html") На главную






