doctype html
html(lang='ru')
	head
		title "Євроцентр - Україна"

		include ./partials/head.jade

	body
		.container.coming_soon



			main
				.logo
					a(href="/")
						img(src="img/icons/logo_ukr2.svg" alt="ЄВРОЦЕНТР")
				h3 Мы скоро вернемся
				div
					p Нашы контакты:
					a(href="tel:+38 (0472) 38-32-98") +38 (0472) 38-32-98
					a(href="tel:+38 (0472) 38-32-99") +38 (0472) 38-32-99
					a(href="mailto:Cherkasy@euc.com.ua" ) Cherkasy@euc.com.ua
					a(href="skype:cherkasy.euc" ) cherkasy.euc




	include ./partials/scripts.jade
