- var title = "Вакансия №2305"

doctype html
html(lang='ru')
	head
		title= title

		include ./partials/head.jade

	body
		.container.vacancies

			include ./partials/noscript.jade
			include ./partials/navigation.jade
			h1= title
			.inline-layout
				include ./partials/vacancies_text.jade

				.sidebar

					include ./partials/sidebar_services2.jade
					include ./partials/last_news.jade


			include ./partials/footer.jade
			include ./partials/modals.jade

	include ./partials/scripts.jade
