- var title = "Визовые услуги"

doctype html
html(lang='ru')
	head
		title= title

		include ./partials/head.jade

	body
		.container.visa_services

			include ./partials/noscript.jade
			include ./partials/navigation.jade
			main

				h1= title
				.inline-layout

					include ./partials/visa_services.jade

					.sidebar

						include ./partials/sidebar_services5.jade
						include ./partials/last_news.jade

				.inline-layout.block_footer
					include ./partials/block_text.jade
					include ./partials/block_contact.jade

			include ./partials/footer.jade
			include ./partials/modals.jade

	include ./partials/scripts.jade
